<aside class="aside">
    <a routerLink=""><h2>CursosEBS</h2></a>
    <nav class="aside-nav">
        <ul class="aside-nav-list">
            <!--<li class="aside-nav-list_li">
                <a href="">
                    <img width="25px" src="../../../assets/icons8-programacao.svg" alt="">
                    Dashboard</a>
            </li>-->
            <li class="aside-nav-list_li">
                <a routerLink="course"><img width="25px" src="../../../assets/icons8-programacao.svg" alt="">Cursos</a>
            </li>
            <li class="aside-nav-list_li">
                <a routerLink="lesson"><img width="25px" src="../../../assets/icons8-programacao.svg" alt="">Aulas</a>
            </li>
            <li class="aside-nav-list_li">
                <a routerLink="category"><img width="25px" src="../../../assets/icons8-programacao.svg" alt="">Categoria</a>
            </li>
            <li class="aside-nav-list_li">
                <a routerLink="student"><img width="25px" src="../../../assets/icons8-programacao.svg" alt="">Usuários</a>
            </li>
        </ul>
    </nav>
</aside>