:host {

    .login-form_container{
        display: flex;
        flex-direction: column;
        gap: 2em;
        width: 100%;
    }

    .login-form_input{
        display: flex;
        flex-direction: column;

        label{
            color: rgb(119, 119, 119);
        }
    }
   
}